@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  font-family: "Pixelify Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #b1889c;
}

/* calendar */
/* decor */
.decor-top-left {
  width: 15%;
  position: absolute;
  z-index: 2;
  top: -26px;
  left: -20px;
  transform: rotate(30deg);
}

.decor-bottom-right {
  width: 15%;
  position: absolute;
  z-index: 2;
  bottom: -26px;
  right: -20px;
  transform: rotate(30deg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: url(../images/pink-pattern.png);
  background-size: 258px;
  background-position: center;
  border: 3px solid #c1e584;
  border-radius: 9px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  gap: 5px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffdae4;
  border: 3px solid #ffb4c9;
  width: 100%;
}

.top button, .top span {
  font-size: 1.6rem;
  background: none;
  border: none;
  color: #fd88a9;
  text-transform:uppercase;
  /* text-shadow: -1px -1px 0 #ff7ba1, 1px -1px 0 #ff7ba1, -1px 2px 0 #ff7ba1, 1px 1px 0 #ff7ba1; */
  transition: 0.3s ease;
  cursor: pointer;
}

.arrows button {
  text-shadow: -1px -1px 0 #fd88a9, 1px -1px 0 #fd88a9, -1px 2px 0 #fd88a9, 1px 1px 0 #fd88a9;
  color: #c1e584;
}

.top button:hover, .top .month-year-label:hover span {
  transform: scale(0.95);
}

.month-year-label {
  display: flex;
  flex-direction: column;
  z-index: 2;
  line-height: 22px;
}

.arrows {
  position: absolute;
  display: flex;
  gap: 280px;
}

.days-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10px;
  background-color: #fff6f8;
  padding: 18px 15px 18px 15px; 
  border: 3px solid #ffb4c9;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.weekday {
  text-align: center;
  color: #a6ca69;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px 20px;
}

.day {
  padding: 6px 5px;
  text-align: center;
  transition: 0.2s ease;
  cursor: pointer;
  color: #fd88a9;
}

.prev-day, .next-day {
  padding: 6px 5px;
  text-align: center;
  transition: 0.2s ease;
  color: #c1929f99;
}

.current-day {
  background-color: #c1e584;
  border-radius: 50%;
  color: #ffffff;
}

.current-day p {
  color: #fff;
}

.day:hover {
  background-color: #c1e58471;
  border-radius: 36px;
  color: #fd88a9;
}

.day:active { 
  transform: scale(0.8);
}

/* month year panel */

.month-year-panel .inner-content {
  background-color: #ffb4c9;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.header p {
  color: #fff;
  font-size: 1rem;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  padding-bottom: 3px;
  background-color: #ffdae4;
  border: 2px solid #fd88a9;
  color: #fd88a9;
  font-size: 1.2rem;
}

.month-year-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #ffdae4;
  width: 100%;
  height: 280px;
  overflow: hidden;
  padding: 10px;
}

.months-container, .years-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.months-years-button {
  padding: 5px 10px;
  border: none;
  color: #ff92b1;
  background-color: #ffffff;
}

.months-container, .years-container {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  scrollbar-color: #ff92b1 #ffffff;
  scrollbar-width: thin;
}

.selected {
  color: rgb(255, 255, 255);
  background-color: #a6ca69;
}

/* notes */
.note-panel .buttons button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

.save-button img {
  width: 25px;
}

.moods-button img {
  width: 28px;
  margin-right: 6px;
}

.stickers-button img {
  width: 27px;
  margin-right: 4px;
  padding-bottom: 2px;
}

.note-panel {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffdce54d;
}

.note-panel .inner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: url(../images/pink-pattern.png);
  background-size: 258px;
  background-position: center;
  border: 3px solid #c1e584;
  border-radius: 9px;
  width: 400px;
  gap: 5px;
}

.note-panel .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.note-panel .top .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.note-panel .top .right .date {
  font-size: 1.4rem;
  color: #ff7ba1
}

.note-panel .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  background-color: #ffdae4;
  border: 3px solid #ffb4c9;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.note textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
  outline: none;
  font-size: 1.2rem;
}

/* Moods */

.moods-panel .inner-content {
  background-color: #ffb4c9;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moods-panel .header {
  display: flex;
  justify-content: space-between;
}

.moods-panel .header p {
  color: #ffffff;
}

.moods-container {
  background-color: #ffdae4;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.moods-container .mood {
  border: none;
  background-color: #fff1f5;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: 0.2s ease;
}

.mood img {
  width: 65px;
}

.moods-container .mood-selected {
  border: 4px solid #c1e584;
  background-color: #ebffc8;
}

.moods-container .mood:hover {
  transform: scale(0.9);
}

/* general */
.panel {
  background-color: #ffffff87;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* hidden */
.hidden {
  display: none;
}

.day-mood {
  width: 18px;
  position: absolute;
  transform: translate(8px, -12px);
}